ENVIRONMENT=dev
PROJECT_VERSION=1.0

APP_SERVER_PORT=8000

APP_DB_USER=
APP_DB_PASS=
APP_DB_HOST=app_postgres
APP_DB_PORT=5432
APP_DB_NAME=registration_service_dev

KC_DB_USER=
KC_DB_PASS=
KC_DB_HOST=kс_postgres
KC_DB_PORT=5433
KC_DB_NAME=keycloak_dev

KC_PORT=8080
KC_ADMIN_USERNAME=admin
KC_ADMIN_PASSWORD=admin

KC_URL=http://keycloak:8080
KC_REALM=registration-service-realm
KC_CLIENT_ID=registration-service-client
KC_ADMIN_ID=registration-service-admin
KC_CLIENT_SECRET=
KC_ADMIN_SECRET=

PGADMIN_EMAIL=
PGADMIN_PASS=
PGADMIN_PORT=5050
