APP_SERVER_PORT=8000

APP_DB_USER=
APP_DB_PASS=
APP_DB_HOST=app_postgres
APP_DB_PORT=5432
APP_DB_NAME=registration_service_dev

KC_DB_USER=
KC_DB_PASS=
KC_DB_HOST=keycloak_postgres
KC_DB_PORT=5433
KC_DB_NAME=keycloak_dev
